name: Build & Tests
on:
  push:
    branches:
      - master
    tags:
      - "!v*"

  pull_request:

  workflow_dispatch:

  schedule:
    - cron: "00 05 * * 1" # 5AM weekly on mondays

jobs:
  build:
    name: Build Srtool Docker image
    runs-on: ubuntu-latest
    continue-on-error: false
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Build image
        run: |
          SRTOOL_VERSION=$(cat VERSION)
          RUSTC_VERSION=$(cat RUSTC_VERSION)
          echo Building tag $RUSTC_VERSION:$SRTOOL_VERSION
          echo "SRTOOL_VERSION=$SRTOOL_VERSION" >> $GITHUB_ENV
          echo "RUSTC_VERSION=$RUSTC_VERSION" >> $GITHUB_ENV
          docker --version
          docker build $@ --build-arg RUSTC_VERSION=$RUSTC_VERSION -t srtool .
          docker run -t --rm srtool version -cM

      - name: Export docker image
        run: |
          docker save srtool | gzip > srtool.tar.gz

      - name: Cache the image
        uses: actions/cache@v2
        with:
          key: srtool-docker-image-${{ github.sha }}
          path: |
            srtool.tar.gz

  common:
    runs-on: ubuntu-latest
    needs: build
    continue-on-error: false
    steps:
      - name: Cache the image
        uses: actions/cache@v2
        with:
          key: srtool-docker-image-${{ github.sha }}
          path: |
            srtool.tar.gz

      - name: Load Docker image
        run: |
          docker load -i srtool.tar.gz
          docker images --digests

      - name: Check the version
        run: |
          VERSION=$(docker run -t --rm srtool version -cM)
          if [[ \
            $( echo $VERSION | jq .name -cMr | wc -c ) -le 5 ||
            $( echo $VERSION | jq .version -cMr | wc -c ) -le 5 ||
            $( echo $VERSION | jq .rustc -cMr | wc -c ) -le 5 \
            ]] ; then
            echo "Invalid version output"
            exit 1
          else
            echo $VERSION
          fi

  polkadot:
    runs-on: ubuntu-latest
    needs: build
    continue-on-error: false
    strategy:
      fail-fast: false
      matrix:
        chain: ["polkadot", "kusama", "westend"]
    steps:
      - name: Cache the image
        uses: actions/cache@v2
        with:
          key: srtool-docker-image-${{ github.sha }}
          path: |
            srtool.tar.gz

      - name: Load Docker image
        run: |
          docker load -i srtool.tar.gz
          docker images --digests

      - name: Check out the Polkadot repo
        uses: actions/checkout@v3
        with:
          repository: paritytech/polkadot
          ref: ${{ github.event.inputs.ref }}
          fetch-depth: 0
          path: polkadot

      - name: Run srtool info
        env:
          PACKAGE: ${{ matrix.chain }}-runtime
          RUNTIME_DIR: runtime/${{ matrix.chain }}
        working-directory: polkadot
        run: |
          INFO=$(docker run --rm -i \
            -e PACKAGE=$PACKAGE \
            -e RUNTIME_DIR=$RUNTIME_DIR \
            -v "${PWD}":/build \
            srtool info -cM)

          if [ $( echo $INFO | jq .src -r ) != "git"  ] ; then
            echo Invalid info output, got $( echo $INFO | jq .src -r )
            exit 1
          else
            echo $INFO
          fi

      - name: Run srtool build for ${{ matrix.chain }}
        id: srtool_build
        env:
          PACKAGE: ${{ matrix.chain }}-runtime
          RUNTIME_DIR: runtime/${{ matrix.chain }}
        working-directory: polkadot
        run: |
          CMD="docker run --rm -i \
            -e PACKAGE=$PACKAGE \
            -e RUNTIME_DIR=$RUNTIME_DIR \
            -v ${PWD}:/build \
            srtool build --app --json"
          echo ::debug::build::docker_run $CMD
          stdbuf -oL $CMD | {
            while IFS= read -r line
            do
              echo ║ $line
              JSON="$line"
            done

            echo ::set-output name=json::$JSON
            echo "JSON=$JSON" >> $GITHUB_ENV

            echo $JSON | jq .

            WASM=`echo $JSON | jq -r .runtimes.compact.wasm`
            echo ::set-output name=wasm::$WASM

            Z_WASM=`echo $JSON | jq -r .runtimes.compressed.wasm`
            echo ::set-output name=wasm_compressed::$Z_WASM
          }

      - name: Summary for ${{ matrix.chain }}
        run: |
          echo $JSON | jq . | tee ${{ matrix.chain }}-srtool-digest.json
          echo "Compact Runtime: ${{ steps.srtool_build.outputs.wasm }}"
          echo "Compressed Runtime: ${{ steps.srtool_build.outputs.wasm_compressed }}"

      - name: Archive Artifacts for ${{ matrix.chain }}
        uses: actions/upload-artifact@v2
        env:
          RUNTIME_DIR: runtime/${{ matrix.chain }}
        with:
          name: ${{ matrix.chain }}-runtime
          path: |
            $RUNTIME_DIR/${{ steps.srtool_build.outputs.wasm }}
            $RUNTIME_DIR/${{ steps.srtool_build.outputs.wasm_compressed }}
            ${{ matrix.chain }}-srtool-digest.json

  cumulus:
    runs-on: ubuntu-latest
    needs: build
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        include:
          - category: contracts
            runtime: contracts-rococo
          - category: assets
            runtime: statemint
          - category: starters
            runtime: shell
    steps:
      - name: Cache the image
        uses: actions/cache@v2
        with:
          key: srtool-docker-image-${{ github.sha }}
          path: |
            srtool.tar.gz

      - name: Load Docker image
        run: |
          docker load -i srtool.tar.gz
          docker images --digests

      - name: Check out the Cumulus repo
        uses: actions/checkout@v3
        with:
          repository: paritytech/cumulus
          ref: ${{ github.event.inputs.ref }}
          fetch-depth: 0
          path: cumulus

      - name: Run srtool info
        env:
          PACKAGE: ${{ matrix.runtime }}-runtime
          RUNTIME_DIR: parachains/${{ matrix.category }}/${{ matrix.runtime }}
        working-directory: cumulus
        run: |
          INFO=$(docker run --rm -i \
            -e PACKAGE=$PACKAGE \
            -e RUNTIME_DIR=$RUNTIME_DIR \
            -v "${PWD}":/build \
            srtool info -cM)

          if [ $( echo $INFO | jq .src -r ) != "git"  ] ; then
            echo Invalid info output, got $( echo $INFO | jq .src -r )
            exit 1
          else
            echo $INFO
          fi

      - name: Run srtool build for ${{ matrix.runtime }}
        id: srtool_build
        env:
          PACKAGE: ${{ matrix.runtime }}-runtime
          RUNTIME_DIR: parachains/${{ matrix.category }}/${{ matrix.runtime }}
        working-directory: cumulus
        run: |
          CMD="docker run --rm -i \
            -e PACKAGE=$PACKAGE \
            -e RUNTIME_DIR=$RUNTIME_DIR \
            -v ${PWD}:/build \
            srtool build --app --json"
          echo ::debug::build::docker_run $CMD
          stdbuf -oL $CMD | {
            while IFS= read -r line
            do
              echo ║ $line
              JSON="$line"
            done

            echo ::set-output name=json::$JSON
            echo "JSON=$JSON" >> $GITHUB_ENV

            echo $JSON | jq .

            WASM=`echo $JSON | jq -r .runtimes.compact.wasm`
            echo ::set-output name=wasm::$WASM

            Z_WASM=`echo $JSON | jq -r .runtimes.compressed.wasm`
            echo ::set-output name=wasm_compressed::$Z_WASM
          }

      - name: Summary for ${{ matrix.runtime }}
        run: |
          echo $JSON | jq . | tee ${{ matrix.runtime }}-srtool-digest.json
          echo "Compact Runtime: ${{ steps.srtool_build.outputs.wasm }}"
          echo "Compressed Runtime: ${{ steps.srtool_build.outputs.wasm_compressed }}"

      - name: Archive Artifacts for ${{ matrix.runtime }}
        uses: actions/upload-artifact@v2
        env:
          RUNTIME_DIR: parachains/${{ matrix.category }}/${{ matrix.runtime }}
        with:
          name: ${{ matrix.runtime }}-runtime
          path: |
            $RUNTIME_DIR/${{ steps.srtool_build.outputs.wasm }}
            $RUNTIME_DIR/${{ steps.srtool_build.outputs.wasm_compressed }}
            ${{ matrix.runtime }}-srtool-digest.json

  bridges:
    runs-on: ubuntu-latest
    needs: build
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        chain: ["millau", "rialto"]
    steps:
      - name: Cache the image
        uses: actions/cache@v2
        with:
          key: srtool-docker-image-${{ github.sha }}
          path: |
            srtool.tar.gz

      - name: Load Docker image
        run: |
          docker load -i srtool.tar.gz
          docker images --digests

      - name: Check out the Bridges repo
        uses: actions/checkout@v3
        with:
          repository: paritytech/parity-bridges-common
          ref: ${{ github.event.inputs.ref }}
          fetch-depth: 0
          path: bridges

      - name: Run srtool info
        env:
          PACKAGE: ${{ matrix.chain }}-runtime
          RUNTIME_DIR: bin/${{ matrix.chain }}/runtime
        working-directory: bridges
        run: |
          INFO=$(docker run --rm -i \
            -e PACKAGE=$PACKAGE \
            -e RUNTIME_DIR=$RUNTIME_DIR \
            -v "${PWD}":/build \
            srtool info -cM)

          if [ $( echo $INFO | jq .src -r ) != "git"  ] ; then
            echo Invalid info output, got $( echo $INFO | jq .src -r )
            exit 1
          else
            echo $INFO
          fi

      - name: Run srtool build for ${{ matrix.chain }}
        id: srtool_build
        env:
          PACKAGE: ${{ matrix.chain }}-runtime
          RUNTIME_DIR: bin/${{ matrix.chain }}/runtime
        working-directory: bridges
        run: |
          CMD="docker run --rm -i \
            -e PACKAGE=$PACKAGE \
            -e RUNTIME_DIR=$RUNTIME_DIR \
            -v ${PWD}:/build \
            srtool build --app --json"
          echo ::debug::build::docker_run $CMD
          stdbuf -oL $CMD | {
            while IFS= read -r line
            do
              echo ║ $line
              JSON="$line"
            done

            echo ::set-output name=json::$JSON
            echo "JSON=$JSON" >> $GITHUB_ENV

            echo $JSON | jq .

            WASM=`echo $JSON | jq -r .runtimes.compact.wasm`
            echo ::set-output name=wasm::$WASM

            Z_WASM=`echo $JSON | jq -r .runtimes.compressed.wasm`
            echo ::set-output name=wasm_compressed::$Z_WASM
          }

      - name: Summary for ${{ matrix.chain }}
        run: |
          echo $JSON | jq . | tee ${{ matrix.chain }}-srtool-digest.json
          echo "Compact Runtime: ${{ steps.srtool_build.outputs.wasm }}"
          echo "Compressed Runtime: ${{ steps.srtool_build.outputs.wasm_compressed }}"

      - name: Archive Artifacts for ${{ matrix.chain }}
        uses: actions/upload-artifact@v2
        env:
          RUNTIME_DIR: bin/${{ matrix.chain }}/runtime
        with:
          name: ${{ matrix.chain }}-runtime
          path: |
            $RUNTIME_DIR/${{ steps.srtool_build.outputs.wasm }}
            $RUNTIME_DIR/${{ steps.srtool_build.outputs.wasm_compressed }}
            ${{ matrix.chain }}-srtool-digest.json
